<!-- subscribe starts -->
<section id='subscribe' class='background-fixed'
    data-ng-controller="SubscribeCtrl">
    <div class="subscribe-inner pattern">
        <!-- subscribe form -->
        <div class="container">
            <div class="subscribe-wrapper">
                <div class="wrapper-inner">
                    <!-- title  -->
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <div class="section-title">
                                <h1 class="title-text">Want to learn more? </h1>
                                <p>Enter your email below and a representative will get in touch with you. </p>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="section-title">
                                <h1 class="title-text">Find out how much your residuals are worth!</h1>
                                <p>To value your residuals we use historical pay statements. Insert your guild web portal credentials below and our automated program will analyze and value your residuals. We will send you a quote by email. </p>
                            </div>
                        </div>

                    </div>
                    <!-- form row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="subscribe text-center ">
                                <form name="viewState.subscribeForm"
                                    class="form"
                                    data-ng-submit="subscribe()">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="text-right col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-2 col-xs-10 col-xs-offset-1 ">
                                                <label class="sr-only">Email</label>
                                                <input type="email"
                                                    class="form-control email"
                                                    name="subscribeEmail"
                                                    data-ng-model="viewState.subscribeEmail"
                                                    placeholder="Your Email"
                                                    required/>
                                            </div>
                                            <div class="text-left col-md-3 col-sm-3 col-xs-12">
                                                <div class="submit-btn">
                                                    <button class="submit btn btn-k-primary" type="submit" >
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="subscribe text-center ">
                                <form name="viewState.residualsForm"
                                    class="form"
                                    data-ng-submit="runScrape()">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="text-right col-md-6 col-sm-6 col-xs-10 col-xs-offset-1 ">
                                                <label class="sr-only">Email</label>
                                                <input type="email"
                                                    class="form-control email"
                                                    name="email1"
                                                    data-ng-model="viewState.scrapeEmail"
                                                    placeholder="Your Email"
                                                    required/>
                                            </div>
                                            <div class="text-right col-md-6 col-sm-6 col-xs-10 col-xs-offset-1 ">
                                                <label class="sr-only">Select Your Guild</label>
                                                <span class="custom-select">
                                                    <select class="form-control input-dark"
                                                        data-ng-model="viewState.selectedGuild"
                                                        data-ng-options="option for option in viewState.guildOptions"
                                                        required/>
                                                        <option value="" selected> select </option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="text-right col-md-6 col-sm-6 col-xs-10 col-xs-offset-1 ">
                                                <label class="sr-only">Password</label>
                                                <input type="text"
                                                    class="form-control email"
                                                    name="username"
                                                    data-ng-model="viewState.username"
                                                    placeholder="Username"
                                                    required/>

                                            </div>
                                            <div class="text-right col-md-6 col-sm-6 col-xs-10 col-xs-offset-1 ">
                                                <label class="sr-only">Username</label>
                                                <input
                                                    data-ng-model="viewState.password"
                                                    data-ng-class="{ 'has-error': viewState.loginForm.$invalid && viewState.loginForm.$dirty && viewState.attempted}"
                                                    name="password"
                                                    type="password"
                                                    placeholder="Password"
                                                    class="form-control input-dark"
                                                    ng-focus="viewState.loginForm.$setValidity('password',true)"
                                                    required/>
                                            </div>
                                            <div class="text-left col-md-3 col-sm-3 col-xs-12">
                                                <div class="submit-btn">
                                                    <button class="submit btn btn-k-primary"
                                                        type="submit">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- subscribe ends -->

