#loading {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4232;
  background-color: #e62b2b;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#loading .loading-inner {
  position: fixed;
  left: 50%;
  margin-left: -64px;
  top: 50%;
  margin-top: -50px;
}
#circularG {
  position: relative;
  width: 128px;
  height: 128px;
}
.circularG {
  position: absolute;
  background-color: #FFFFFF;
  width: 29px;
  height: 29px;
  -moz-border-radius: 19px;
  -moz-animation-name: bounce_circularG;
  -moz-animation-duration: 1.36s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-border-radius: 19px;
  -webkit-animation-name: bounce_circularG;
  -webkit-animation-duration: 1.36s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -ms-border-radius: 19px;
  -ms-animation-name: bounce_circularG;
  -ms-animation-duration: 1.36s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -o-border-radius: 19px;
  -o-animation-name: bounce_circularG;
  -o-animation-duration: 1.36s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  border-radius: 19px;
  animation-name: bounce_circularG;
  animation-duration: 1.36s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
#circularG_1 {
  left: 0;
  top: 50px;
  -moz-animation-delay: 1.7s;
  -webkit-animation-delay: 1.7s;
  -ms-animation-delay: 1.7s;
  -o-animation-delay: 1.7s;
  animation-delay: 1.7s;
}
#circularG_2 {
  left: 14px;
  top: 14px;
  -moz-animation-delay: 1.53s;
  -webkit-animation-delay: 1.53s;
  -ms-animation-delay: 1.53s;
  -o-animation-delay: 1.53s;
  animation-delay: 1.53s;
}
#circularG_3 {
  top: 0;
  left: 50px;
  -moz-animation-delay: 1.36s;
  -webkit-animation-delay: 1.36s;
  -ms-animation-delay: 1.36s;
  -o-animation-delay: 1.36s;
  animation-delay: 1.36s;
}
#circularG_4 {
  right: 14px;
  top: 14px;
  -moz-animation-delay: 1.19s;
  -webkit-animation-delay: 1.19s;
  -ms-animation-delay: 1.19s;
  -o-animation-delay: 1.19s;
  animation-delay: 1.19s;
}
#circularG_5 {
  right: 0;
  top: 50px;
  -moz-animation-delay: 1.02s;
  -webkit-animation-delay: 1.02s;
  -ms-animation-delay: 1.02s;
  -o-animation-delay: 1.02s;
  animation-delay: 1.02s;
}
#circularG_6 {
  right: 14px;
  bottom: 14px;
  -moz-animation-delay: 0.85s;
  -webkit-animation-delay: 0.85s;
  -ms-animation-delay: 0.85s;
  -o-animation-delay: 0.85s;
  animation-delay: 0.85s;
}
#circularG_7 {
  left: 50px;
  bottom: 0;
  -moz-animation-delay: 0.68s;
  -webkit-animation-delay: 0.68s;
  -ms-animation-delay: 0.68s;
  -o-animation-delay: 0.68s;
  animation-delay: 0.68s;
}
#circularG_8 {
  left: 14px;
  bottom: 14px;
  -moz-animation-delay: 0.51s;
  -webkit-animation-delay: 0.51s;
  -ms-animation-delay: 0.51s;
  -o-animation-delay: 0.51s;
  animation-delay: 0.51s;
}
@-moz-keyframes bounce_circularG {
  0% {
    -moz-transform: scale(1);
  }
  100% {
    -moz-transform: scale(0.3);
  }
}
@-webkit-keyframes bounce_circularG {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.3);
  }
}
@-ms-keyframes bounce_circularG {
  0% {
    -ms-transform: scale(1);
  }
  100% {
    -ms-transform: scale(0.3);
  }
}
@-o-keyframes bounce_circularG {
  0% {
    -o-transform: scale(1);
  }
  100% {
    -o-transform: scale(0.3);
  }
}
@keyframes bounce_circularG {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.3);
  }
}

@media (min-width: 767px) {
  header {
    height: 100%;
  }
}
@media (max-width: 991px) {
  header .header-inner .container .logo h1 {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  header .header-inner .container .logo h1 {
    font-size: 35px;
  }
}
@media (max-width: 991px) {
  header .header-inner .container .slogan h2 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  header .header-inner .container .slogan h2 {
    font-size: 20px;
  }
}
@media (max-width: 1199px) {
  header .header-inner .container .timer .time-box {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 991px) {
  header .header-inner .container .timer .time-box {
    width: 140px;
    height: 140px;
  }
}
@media (max-width: 767px) {
  header .header-inner .container .timer .time-box {
    margin-top: 10px;
    width: 130px;
    height: 130px;
  }
}
@media (max-width: 991px) {
  header .header-inner .container .timer .time-box .tick {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  header .header-inner .container .timer .time-box .tick {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  header .header-inner .container .timer .time-box .title {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  header .header-inner .container .timer .time-box .title {
    font-size: 18px;
  }
}
@media (max-width: 319px) {
  header .header-inner .container .timer {
    text-align: center;
  }
  header .header-inner .container .timer .col-xs-6 {
    clear: both;
    display: inline-block !important;
    margin: 0px auto;
  }
}
@media (max-width: 1199px) {
  header .header-inner .container .circle .time-box {
    width: 148px;
    height: 148px;
  }
}
@media (max-width: 370px) {
  header .header-inner .container .circle .time-box {
    width: 126px !important;
    height: 126px !important;
    padding-top: 0px;
  }
}
@media (max-width: 991px) {
  header .header-inner .container .circle .time-box {
    width: 150px;
    height: 150px;
  }
  header .header-inner .container .circle .time-box .tick {
    top: 15px;
  }
}
@media (max-width: 991px) {
  header .header-inner .container .social-icons #description {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  header .header-inner .container .social-icons #description {
    margin-top: 10px;
  }
}
@media (max-width: 991px) {
  #about .heading .heading-text {
    font-size: 23px;
  }
}
@media (max-width: 767px) {
  #about .heading .heading-text {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  #about .details .detail-text {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  #about .details .detail-text {
    font-size: 17px;
  }
}
@media (max-width: 767px) {
  #about .earlySup button {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    margin-top: 10px;
  }
}
@media (max-width: 991px) {
  #subscribe .subscribe-inner .container .section-title .title-text {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  #subscribe .subscribe-inner .container .section-title .title-text {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  #subscribe .subscribe-inner .container .subscribe .submit-btn {
    clear: both;
    margin-top: 10px;
    text-align: center !important;
  }
}
@media (min-width: 767px) {
  footer hr {
    margin: 0px auto;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**	THEME NAME: KUDRAT*	THEME DEVELOPER: ZENNTHEMES*/
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Lato', sans-serif;
}
header {
  position: relative;
  width: 100%;
  background: url("../images/header_background1.jpg") no-repeat 50% 0 fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-position: 50% 0;
  color: #ffffff;
  padding: 0px;
}
header .header-inner {
  position: relative;
  max-height: 100%;
  min-height: 100%;
  width: 100%;
}
header .header-inner .container .logo {
  position: relative;
  margin-top: 8%;
}
header .header-inner .container .logo h1 {
  font-size: 66px;
  font-weight: 800;
}
header .header-inner .container .slogan {
  position: relative;
}
header .header-inner .container .slogan h2 {
  letter-spacing: 1.5px;
  font-size: 42px;
  font-weight: 300;
}
header .header-inner .container .slogan h2 .type-here {
  font-weight: bold;
}
header .header-inner .container .timer {
  position: relative;
  margin-top: 40px;
}
header .header-inner .container .timer .time-box {
  width: 160px;
  height: 160px;
  border: 1px solid white;
  padding: 10px;
  margin: 0px auto;
}
header .header-inner .container .timer .time-box .tick {
  font-size: 55px;
}
header .header-inner .container .timer .time-box hr {
  margin: 0px;
}
header .header-inner .container .timer .time-box .title {
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 100;
}
header .header-inner .container .circle .time-box {
  border-radius: 75%;
  -webkit-border-radius: 75%;
  -moz-border-radius: 75%;
  -ms-border-radius: 75%;
  -o-border-radius: 75%;
  width: 165px;
  height: 165px;
}
header .header-inner .container .circle .time-box hr {
  width: 80%;
  margin: 3px auto;
}
header .header-inner .container .border-right .time-box {
  border: none;
  border-right: 1px solid white;
  padding-right: 0px;
}
header .header-inner .container .border-left .time-box {
  border: none;
  border-left: 1px solid white;
  padding-left: 0px;
}
header .header-inner .container .border-top .time-box {
  border: none;
  border-top: 1px solid white;
}
header .header-inner .container .no-border .time-box {
  border: none;
}
header .header-inner .container .social-icons #description {
  position: relative;
  margin: 62px 0px 20px;
}
header .header-inner .container .social-icons #description a {
  color: #cccccc;
  display: inline-block;
  margin-left: 5px;
  text-decoration: none;
}
header .header-inner .container .social-icons a:hover .fa {
  background-color: rgba(0, 0, 0, 0.4);
}
header .header-inner .container .social-icons a .fa {
  font-size: 14px;
  margin-left: 4px;
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-color: #cccccc;
  vertical-align: middle;
  display: table-cell;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
header .header-inner .container .scroll-down {
  position: relative;
  margin-top: 10px;
}
header .header-inner .container .scroll-down a {
  color: white;
  position: relative;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  display: inline-block;
  font-weight: 100;
}
header .header-inner .container .scroll-down a:hover {
  top: 3px;
}
#description {
  position: relative;
  margin: 62px 0px 20px;
}
#about {
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px 70px;
}
#about .heading {
  position: relative;
  margin: 0px 0px 40px;
}
#about .heading .heading-text {
  font-size: 26px;
  letter-spacing: 2.8px;
  font-weight: 400;
  color: #4d4d4d;
  text-transform: uppercase;
}
#about .slogan {
  color: #7d7d7d;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
#about .details {
  position: relative;
}
#about .details .icon {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #b83e22;
  margin: 0px auto;
  border-radius: 6px;
}
#about .details .icon .fa {
  color: white;
  line-height: 60px;
  font-size: 2.8em;
}
#about .details .detail-text {
  font-weight: normal;
  color: #666666;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-size: 18px;
}
#about .details .detail-text span {
  border: 1px solid #f0f0f0;
  border-left: none;
  border-right: none;
}
#about .details .description-text {
  color: #7d7d7d;
  letter-spacing: 2px;
  font-weight: normal;
  margin-top: 20px;
}
#about .launch h3 {
  margin-top: 50px;
  font-family: sifonnbasic;
  color: #000000;
}
#about .earlySup {
  margin-top: 30px;
}
#about .earlySup input {
  height: 64px;
  font-family: sifonnbasic;
  letter-spacing: 2px;
  font-size: 20px;
}
#about .earlySup button {
  padding: 10px 30px;
  font-size: 30px;
  font-family: simplifica;
  letter-spacing: 2px;
  background-color: #ffffff;
  color: #b83e22;
}
#subscribe {
  position: relative;
  background: url('../images/subscribe-bg2.jpg') no-repeat 50% 0 fixed;
  background-size: cover;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
#subscribe .subscribe-inner {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
}
#subscribe .subscribe-inner .container .subscribe-wrapper {
  position: relative;
  height: 350px;
  width: 100%;
}
#subscribe .subscribe-inner .container .subscribe-wrapper .wrapper-inner {
  width: 100%;
  position: relative;
  vertical-align: middle;
  display: inline-block;
}
#subscribe .subscribe-inner .container .subscribe-wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
#subscribe .subscribe-inner .container .section-title {
  position: relative;
}
#subscribe .subscribe-inner .container .section-title .title-text {
  font-size: 42px;
  color: white;
  letter-spacing: 4.6px;
  padding-bottom: 5px;
  font-weight: 100;
}
#subscribe .subscribe-inner .container .subscribe {
  position: relative;
}
#subscribe .subscribe-inner .container .subscribe .form-group .form-control {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  display: inline-block;
}
#mission {
  position: relative;
  padding: 80px 0px;
  background-color: white;
}
#mission .container .section-title {
  position: relative;
}
#mission .container .section-title .title-text {
  font-size: 22px;
  margin-bottom: 20px;
  letter-spacing: 1.2px;
  font-weight: 500;
  color: #4d4d4d;
  text-transform: uppercase;
}
#mission .container .section-title .title-text span {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
#mission .container .description {
  position: relative;
}
#mission .container .description p {
  color: #7d7d7d;
  letter-spacing: 1.2px;
  margin: 5px 0px 15px;
  line-height: 190%;
}
footer {
  position: relative;
  background-color: #080808;
  color: white;
  padding-top: 20px;
}
footer hr {
  display: block;
  border-top: 1px solid white;
  border-color: #191919;
  margin: 15px auto;
}
footer .section-title {
  position: relative;
  margin: 25px 0px;
}
footer .section-title .title-text {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}
footer .section-title .slogan {
  color: #999999;
  letter-spacing: 0.6px;
}
footer .contact-form {
  position: relative;
}
footer .contact-form .form {
  position: relative;
  margin-bottom: 20px;
}
footer .contact-form .form .form-group .btn-submit {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  background-color: #0a0a0a;
  border-color: #191919;
}
footer .contact-form .form .form-group .btn-submit:hover {
  border-color: #333333;
}
footer .all-addresses {
  position: relative;
}
footer .all-addresses .fa-ul li {
  line-height: 32px;
  font-weight: 100;
  letter-spacing: 1px;
}
footer .all-addresses .fa-ul li i {
  font-size: 20px;
}
footer .all-addresses .fa-ul li a {
  color: white;
}
footer .footer-social-icons {
  position: relative;
  margin-top: 15px;
}
footer .footer-social-icons .be-social {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
}
footer .footer-social-icons .icons {
  position: relative;
  margin-top: 5px;
  display: table;
}
footer .footer-social-icons .icons a {
  color: white;
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
}
footer .footer-social-icons .icons a:hover .fa {
  background-color: white;
  color: #0d0d0d;
}
footer .footer-social-icons .icons .fa {
  position: relative;
  font-size: 18px;
  width: 40px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}
footer .hot-links {
  position: relative;
  margin-bottom: 20px;
}
footer .hot-links .links ul {
  margin: 0px;
}
footer .hot-links .links ul li {
  margin: 0px;
  list-style-type: square;
}
footer .hot-links .links ul li a {
  color: #999999;
}
footer .sub-footer {
  background-color: #030303;
  padding: 10px 0px;
  font-weight: 100;
  letter-spacing: 1.5px;
}
footer .contact-form .form .form-group input[type='text'],
footer .contact-form .form .form-group input[type='password'],
footer .contact-form .form .form-group input[type='email'],
footer .contact-form .form .form-group textarea {
  background-color: #0a0a0a;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-color: #191919;
}
footer .contact-form .form .form-group input[type='text']:focus,
footer .contact-form .form .form-group input[type='password']:focus,
footer .contact-form .form .form-group input[type='email']:focus,
footer .contact-form .form .form-group textarea:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  border-color: #333333;
  color: #999999;
}
.pattern {
  background: none;
  background: url(../images/pattern.png) repeat fixed;
}
.background-alpha {
  background-color: rgba(0, 0, 0, 0.6);
}
.background-fixed {
  background-attachment: fixed !important;
}
.btn-k-primary {
  background-color: #b83e22;
  color: white;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.btn-k-primary:hover {
  color: white;
  background-color: #ab3a20;
}
.btn-k-primary:focus,
.btn-k-primary:active {
  color: white;
}
#scrollUp {
  bottom: 0px;
  right: 0px;
  padding: 5px 10px;
  background-color: #333333;
  color: #fff;
  font-family: FontAwesome;
  text-decoration: none;
  font-size: 24px;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
.backstretch img {
  position: fixed !important;
}
